*{
    color: rgb(0, 0, 0);
    border: lpx solid rgb(83, 23, 23);
}

body{
    background-image: url("https://foni.club/uploads/posts/2023-01/1674307781_foni-club-p-fon-krasivii-dlya-pk-1.jpg");

    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

hr{
    width: 70%;
}

p{
    background-color: rgba(225, 225, 225, 0.202);
    width: 70%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}